<div class="grid grid-cols-2 gap-6 md:grid-cols-3">
    {{#each products}}
       <div class="overflow-hidden bg-white rounded shadow group">
                    <div class="relative">
                        <a href="/product/productDetail?id={{this.product_id}}"><img src={{Images.[0].directory_path}} alt="product 1" class="w-full"></a>
                    </div>
                    <div class="px-4 pt-4 pb-3">
                        <a href="/product/productDetail?id={{this.product_id}}">
                            <h4 class="mb-2 text-xl font-medium text-gray-800 uppercase transition hover:text-primary">
                                {{product_name}}</h4>
                        </a>
                        <div class="flex items-baseline mb-1 space-x-2">
                            <p class="text-xl font-semibold text-primary">{{current_price}}</p>
                            <p class="text-sm text-gray-400 line-through">{{original_price}}</p>
                        </div>
                    </div>
                    <button id="add-to-cart-{{this.product_id}}" 
                            data-product-id="{{this.product_id}}" 
                            class="block w-full py-1 text-center text-white transition border rounded-b add-to-cart bg-primary border-primary hover:bg-transparent hover:text-primary">
                        Add to cart
                    </button>
                </div>
    {{/each}}
</div>
<!-- Pagination controls -->
 <div class="flex justify-center mt-10">
    <nav>
        <ul class="inline-flex items-center -space-x-px">
            {{#if hasPreviousPage}}
            <li>
                <a href="?page={{previousPage}}&sort={{sort}}&category={{category}}&brand={{brand}}&minPrice={{minPrice}}&maxPrice={{maxPrice}}&search={{search}}"
                    class="px-3 py-2 ml-0 leading-tight text-black bg-white border border-gray-300 rounded-l-lg pagination-link hover:bg-primary hover:text-gray-700">Previous</a>
            </li>
            {{/if}}
            {{#each pages}}
                {{#if (shouldShowPage @index ../currentPage ../totalPages)}}
                    <li>
                        <a href="?page={{this}}&sort={{../sort}}&category={{../category}}&brand={{../brand}}&minPrice={{../minPrice}}&maxPrice={{../maxPrice}}&search={{../search}}"
                            class="pagination-link py-2 px-3 leading-tight text-black  border border-gray-300  hover:text-gray-700 {{#if (eq this ../currentPage)}}bg-primary text-white{{/if}}">{{this}}</a>
                    </li>
                {{else if (shouldShowEllipsis @index ../currentPage ../totalPages)}}
                    <li>
                        <span class="px-3 py-2 leading-tight text-black bg-white border border-gray-300 pagination-link">...</span>
                    </li>
                {{/if}}
            {{/each}}
            {{#if hasNextPage}}
            <li>
                <a href="?page={{nextPage}}&sort={{sort}}&category={{category}}&brand={{brand}}&minPrice={{minPrice}}&maxPrice={{maxPrice}}&search={{search}}"
                    class="px-3 py-2 leading-tight text-black bg-white border border-gray-300 rounded-r-lg pagination-link hover:bg-primary hover:text-gray-700">Next</a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>
