<div class="container grid md:grid-cols-4 grid-cols-2 gap-6 pt-4 pb-16 items-start">

    <!-- ./sidebar lọc sản phẩm -->
    <form method="GET" action="/product" id="filter-form">
        <div class="col-span-1 bg-white px-4 pb-6 shadow rounded overflow-hiddenb hidden md:block">
            <div class="divide-y divide-gray-200 space-y-5">
                <!-- Lọc theo category -->
                <div>
                    <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Categories</h3>
                    <div class="space-y-2">
                        {{#each categories}}
                        <div class="flex items-center">
                            <input type="checkbox" name="category" value="{{this.category_name}}" id="cat-{{@index}}"
                                class="text-primary focus:ring-0 rounded-sm cursor-pointer"  {{#if (contains ../category_name this.category_name)}}checked{{/if}}>
                            <label for="cat-{{@index}}" class="text-gray-600 ml-3 cursor-pointer">{{this.category_name}}</label>
                        </div>
                       {{/each}}
                    </div>
                </div>

                <!-- Lọc theo brand -->
                <div class="pt-4">
                    <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Brands</h3>
                    <div class="space-y-2">
                        {{#each brands}}
                        <div class="flex items-center">
                            <input type="checkbox" name="brand" value="{{this.brand}}" id="brand-{{@index}}"
                                class="text-primary focus:ring-0 rounded-sm cursor-pointer" {{#if (contains ../brand this.brand)}}checked{{/if}}>
                            <label for="brand-{{@index}}" class="text-gray-600 ml-3 cursor-pointer">{{this.brand}}</label>
                        </div>
                        {{/each}}
                    </div>
                </div>

                <!-- Lọc theo giá -->
                <div class="pt-4">
                    <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Price</h3>
                    <div class="mt-4 flex items-center">
                        <input type="text" name="minPrice" id="minPrice"
                            class="w-full border-gray-300 focus:border-primary rounded focus:ring-0 px-3 py-1 text-gray-600 shadow-sm"
                            placeholder="min" value="{{minPrice}}">
                        <span class="mx-3 text-gray-500">-</span>
                        <input type="text" name="maxPrice" id="maxPrice"
                            class="w-full border-gray-300 focus:border-primary rounded focus:ring-0 px-3 py-1 text-gray-600 shadow-sm"
                            placeholder="max" value="{{maxPrice}}">
                    </div>
                </div>

                <!-- Nút áp dụng bộ lọc -->
                <div class="pt-4">
                    <input type="hidden" name="sort" value="{{sort}}">
                    {{!-- <input type="hidden" name="page" value="{{currentPage}}"> --}}
                    <input type="hidden" name="search" value="{{search}}">
                    <button type="submit" class="px-4 py-2 rounded  text-white bg-red-500 hover:bg-primary hover:text-gray-700">Apply Filters</button>
                </div>
            </div>
        </div>
    </form>
    <!-- products -->
    <div class="col-span-3">
        <!--sắp xếp-->
        <div class="flex items-center mb-4">
            <form method="GET" action="/product" id="sort-form">
                {{#each category}}
                <input type="hidden" name="category" value="{{this}}">
                {{/each}}
                {{#each brand}}
                <input type="hidden" name="brand" value="{{this}}">
                {{/each}}
                <input type="hidden" name="minPrice" value="{{minPrice}}">
                <input type="hidden" name="maxPrice" value="{{maxPrice}}">
                {{!-- <input type="hidden" name="page" value="{{currentPage}}"> --}}
                <input type="hidden" name="search" value="{{search}}">
                <select id="sort" name="sort" class="w-44 text-sm text-gray-600 py-3 px-4 border-gray-300 shadow-sm rounded focus:ring-primary focus:border-primary">
                    <option value="">Default sorting</option>
                    <option value="price-low-to-high" {{#if (eq sort 'price-low-to-high' )}}selected{{/if}}>Price low to
                        high
                    </option>
                    <option value="price-high-to-low" {{#if (eq sort 'price-high-to-low' )}}selected{{/if}}>Price high
                        to low
                    </option>
                    <option value="name-asc" {{#if (eq sort 'name-asc' )}}selected{{/if}}>Name A-Z</option>
                    <option value="name-desc" {{#if (eq sort 'name-desc' )}}selected{{/if}}>Name Z-A</option>
                </select>
            </form>
        </div>

        <!--danh sách sản phẩm-->
        <div id="product-list">
            <div class="grid md:grid-cols-3 grid-cols-2 gap-6">
                {{#each products}}
                <div class="bg-white shadow rounded overflow-hidden group">
                    <div class="relative">
                        <a href="#"><img src={{Images.[0].directory_path}} alt="product{{@index}}" class="w-full"></a>
                    </div>
                    <div class="pt-4 pb-3 px-4">
                        <a href="#">
                            <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">
                                {{product_name}}</h4>
                        </a>
                        <div class="flex items-baseline mb-1 space-x-2">
                            <p class="text-xl text-primary font-semibold">{{current_price}}</p>
                            <p class="text-sm text-gray-400 line-through">{{original_price}}</p>
                        </div>
                    </div>
                    <a href="#"
                        class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition">Add
                        to cart</a>
                </div>
                {{/each}}
            </div>
            <!-- Pagination controls -->  
 <div class="flex justify-center mt-10">
    <nav>
        <ul class="inline-flex items-center -space-x-px">
            {{#if hasPreviousPage}}
            <li>
                <a href="?page={{previousPage}}&sort={{sort}}&category={{category}}&brand={{brand}}&minPrice={{minPrice}}&maxPrice={{maxPrice}}&search={{search}}"
                    class="pagination-link py-2 px-3 ml-0 leading-tight text-black bg-white border border-gray-300 rounded-l-lg hover:bg-primary hover:text-gray-700">Previous</a>
            </li>
            {{/if}}
            {{#each pages}}
                {{#if (shouldShowPage @index ../currentPage ../totalPages)}}
                    <li>
                        <a href="?page={{this}}&sort={{../sort}}&category={{../category}}&brand={{../brand}}&minPrice={{../minPrice}}&maxPrice={{../maxPrice}}&search={{../search}}"
                            class="pagination-link py-2 px-3 leading-tight text-black  border border-gray-300  hover:text-gray-700 {{#if (eq this ../currentPage)}}bg-primary text-white{{/if}}">{{this}}</a>
                    </li>
                {{else if (shouldShowEllipsis @index ../currentPage ../totalPages)}}
                    <li>
                        <span class="pagination-link py-2 px-3 leading-tight text-black bg-white border border-gray-300">...</span>
                    </li>
                {{/if}}
            {{/each}}
            {{#if hasNextPage}}
            <li>
                <a href="?page={{nextPage}}&sort={{sort}}&category={{category}}&brand={{brand}}&minPrice={{minPrice}}&maxPrice={{maxPrice}}&search={{search}}"
                    class="pagination-link py-2 px-3 leading-tight text-black bg-white border border-gray-300 rounded-r-lg hover:bg-primary hover:text-gray-700">Next</a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>
            
        </div>
    </div>
</div>
<!-- Bao gồm file JavaScript -->
<script src="/js/filter.js"></script>