<div class="container-user">

    <div class="column-user column-user-4  {{#if ADMIN}}bg-blue-800{{else}}bg-gray-600 {{/if}} md:rounded-l-lg">
        {{#if ADMIN}}
        <h1 style="color:#40ebeb" id="profileh1">Admin Profile</h1>
        {{else}}
        <h1 style="color:#40ebeb" id="profileh1">Profile</h1>
        {{/if}}
        <img class="object-cover" src="{{userAvatar}}" id="avatar-preview">
        <h2>{{fullName}}</h2>
        <button id="update-avatar-btn">Update Avatar</button>
        <input type="file" id="avatar-input" accept="image/*" style="display: none;">
    </div>

    <div class="column-user column-user-8 {{#if ADMIN}}bg-blue-800{{else}}bg-gray-600 {{/if}} md:rounded-r-lg">
        <div class="user-info1">
            <p><strong>Name:</strong> {{profile.full_name}}</p>
            {{#if ADMIN}}
            <p style="color:yellow"><strong>Role:</strong> Admin</p>
            {{/if}}
            <p><strong>Phone:</strong> {{profile.phone}}</p>
            <p><strong>Address:</strong> {{profile.address}}</p>
            <p><strong>Birthday:</strong>{{formatBirthday profile.birthday}}</p>
            <p><strong>Gender:</strong>{{profile.gender}}</p>
        </div>
        <div class="mt-5">
            <button class="mr-5 editProfile">Edit Profile</button>
            {{#if local}}
            <button class="changePassword">Change Password</button>
            {{/if}}
        </div>
    </div>
    <div class="column-user column-user-4">
        <h1 id="historyh1">History</h1>
        <div class="navbar">
            <ul class="nav-links">
                <li><a href="#" class="nav-item {{#if (eq activeTab 'orders')}}active{{/if}}" data-target="orders-container">Order</a></li>
                <li><a href="#" class="nav-item {{#if (eq activeTab 'products')}}active{{/if}}" data-target="products-container">Product</a></li>
            </ul>
        </div>
    </div>

    <div id="orders-container" class="content {{#if (eq activeTab 'orders')}}active{{/if}}">

        <table class="orders-table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Total Amount</th>
                    <th class="creation-time">Creation Time</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                {{#each paginatedOrders}}
                <tr>
                    <td>
                        {{!-- {{this.order_id}} --}}
                        <a href="/userprofile/getOrderDetail/{{this.order_id}}" class="orderdetail">{{this.order_id}}</a>
                    </td>
                    <td>{{this.total_amount}}</td>
                    <td class="creation-time">{{formatDate this.creation_time}}</td>
                    {{#if (eq this.status "Completed")}}
                    <td><span class="status Completed">{{this.status}}</span></td>
                    {{/if}}
                    {{#if (eq this.status "Pending")}}
                    <td><span class="status Pending">{{this.status}}</span></td>
                    {{/if}}
                    {{#if (eq this.status "Cancelled")}}
                    <td><span class="status Cancelled">{{this.status}}</span></td>
                    {{/if}}
                    {{#if (eq this.status "Processing")}}
                    <td>
                        <button class="status Processing" onclick="toggleModal('{{this.order_id}}')">{{this.status}}</button>
                        <div id="change-status-modal-{{this.order_id}}" class="flex items-center justify-center modal"
                            style="display: none;">
                            <div class="w-full max-w-md p-8 mx-8 bg-white rounded-lg shadow-lg modal-content">
                                <h2 class="mb-6 text-2xl font-bold text-center text-gray-800">Confirm order cancellation #{{this.order_id}}</h2>
                                <p id="status-message" class="hidden px-4 py-2 mb-6 text-sm rounded-md"></p>
                                <form id="change-status-form-{{this.order_id}}" onsubmit="submitStatusChange(event, '{{this.order_id}}')">
                                    <div class="flex items-center justify-between mt-6">
                                        <button type="button"
                                            class="px-4 py-2 text-gray-800 transition bg-gray-200 rounded-md hover:bg-gray-300 close-button"
                                            onclick="toggleModal('{{this.order_id}}')">Back</button>
                                        <button type="submit"
                                            class="px-6 py-2 text-white transition bg-blue-500 rounded-md hover:bg-blue-600">Confirm</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                    {{/if}}
                    {{#if (eq this.status "Shipped")}}
                    <td><span class="status Shipped">{{this.status}}</span></td>
                    {{/if}}
                </tr>
                {{/each}}

            </tbody>
        </table>
        <div class="flex justify-center mt-10 mb-3">
            <nav>
                <ul class="inline-flex items-center -space-x-px">
                    {{#if hasPreviousOrderPage}}
                    <li>
                        <a href="?pageOrders={{previousOrderPage}}&activeTab=orders#historyh1"
                            class="px-3 py-2 ml-0 leading-tight text-black bg-white border border-gray-300 rounded-l-lg hover:bg-primary hover:text-gray-700">Previous</a>
                    </li>
                    {{/if}}
                    {{#each Orderpages}}
                    {{#if (shouldShowPage @index ../currentOrderPage ../totalOrderPages)}}
                    <li>
                        <a href="?pageOrders={{this}}&activeTab=orders#historyh1"
                            class="py-2 px-3 leading-tight text-black  border border-gray-300  hover:text-gray-700 {{#if (eq this ../currentOrderPage)}}bg-primary text-white{{/if}} ">{{this}}</a>
                    </li>
                    
                    {{else if (shouldShowEllipsis @index ../currentOrderPage ../totalOrderPages)}}
                    <li>
                        <span
                            class="px-3 py-2 leading-tight text-black bg-white border border-gray-300 ">...</span>
                    </li>
                    {{/if}}
                    {{/each}}
                    {{#if hasNextOrderPage}}
                    <li>
                        <a href="?pageOrders={{nextOrderPage}}&activeTab=orders#historyh1"
                            class="px-3 py-2 leading-tight text-black bg-white border border-gray-300 rounded-r-lg hover:bg-primary hover:text-gray-700">Next</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>

    <div id="products-container" class="content {{#if (eq activeTab 'products')}}active{{/if}}">

        <div class="grid grid-cols-2 gap-6 md:grid-cols-3">

            {{#each paginatedProducts}}
            <div class="product-card">
                <div class="product-img">
                    <a href="/product/productDetail?id={{this.Product.product_id}}"><img
                            src={{this.Product.Images.[0].directory_path}}></a>
                </div>
                <div class="product-info">
                    <a href="/product/productDetail?id=1">
                        <h4 class="product-name">{{this.Product.product_name}}</h4>
                    </a>
                    <div class="price">
                        <span class="price-current">{{this.Product.current_price}}</span>
                        <span class="price-old">{{this.Product.original_price}}</span>
                    </div>
                </div>

            </div>
            {{/each}}
        </div>

        <div class="flex justify-center mt-10 mb-3">
            <nav>
                <ul class="inline-flex items-center -space-x-px">
                    {{#if hasPreviousProductPage}}
                    <li>
                        <a href="?pageProducts={{previousProductPage}}&activeTab=products#historyh1"
                            class="px-3 py-2 ml-0 leading-tight text-black bg-white border border-gray-300 rounded-l-lg hover:bg-primary hover:text-gray-700">Previous</a>
                    </li>
                    {{/if}}
                    {{#each Productpages}}
                    {{#if (shouldShowPage @index ../currentProductPage ../totalProductPages)}}
                    <li>
                        <a href="?pageProducts={{this}}&activeTab=products#historyh1"
                            class="py-2 px-3 leading-tight text-black  border border-gray-300  hover:text-gray-700 {{#if (eq this ../currentProductPage)}}bg-primary text-white{{/if}} ">{{this}}</a>
                    </li>
                    
                    {{else if (shouldShowEllipsis @index ../currentProductPage ../totalProductPages)}}
                    <li>
                        <span
                            class="px-3 py-2 leading-tight text-black bg-white border border-gray-300 ">...</span>
                    </li>
                    {{/if}}
                    {{/each}}
                    {{#if hasNextProductPage}}
                    <li>
                        <a href="?pageProducts={{nextProductPage}}&activeTab=products#historyh1"
                            class="px-3 py-2 leading-tight text-black bg-white border border-gray-300 rounded-r-lg hover:bg-primary hover:text-gray-700">Next</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>

    </div>

</div>
<!-- Modal for Change Password -->
<div id="change-password-modal" class="flex items-center justify-center modal">
    <div class="w-full max-w-md p-8 mx-8 bg-white rounded-lg shadow-lg modal-content">
        <h2 class="mb-6 text-3xl font-bold text-center text-gray-800">Change Password</h2>
        
        <!-- Validation Message -->
         <p id="form-message" class="hidden px-4 py-2 mb-6 text-sm rounded-md"></p>
    
        <!-- Form -->
        <form id="change-password-form">
            <!-- Old Password -->
            <div class="relative mb-6">
                <label for="old-password" class="block mb-2 font-medium text-gray-700">Old Password</label>
                <input 
                    type="password" 
                    id="old-password" 
                    placeholder="Enter old password"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                <button type="button" class="absolute text-gray-500 right-2 hover:text-gray-700 show-password-btn" data-target="old-password">
                    👁
                </button>
                 <p id="old-password-error" class="hidden mt-1 text-sm text-red-500"></p>
            </div>

            <!-- New Password -->
            <div class="relative mb-6">
                <label for="new-password" class="block mb-2 font-medium text-gray-700">New Password</label>
                <input 
                    type="password" 
                    id="new-password" 
                    placeholder="Enter new password"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                <button type="button" class="absolute text-gray-500 right-2 hover:text-gray-700 show-password-btn" data-target="new-password">
                    👁
                </button>
                 <p id="new-password-error" class="hidden mt-1 text-sm text-red-500"></p>
            </div>

            <!-- Confirm New Password -->
            <div class="relative mb-6">
                <label for="confirm-password" class="block mb-2 font-medium text-gray-700">Confirm New Password</label>
                <input 
                    type="password" 
                    id="confirm-password" 
                    placeholder="Confirm new password"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                <button type="button" class="absolute text-gray-500 right-2 hover:text-gray-700 show-password-btn" data-target="confirm-password">
                    👁
                </button>
                <p id="confirm-password-error" class="hidden mt-1 text-sm text-red-500"></p>
            </div>

            <!-- Buttons -->
            <div class="flex items-center justify-between mt-6">
                <button 
                    type="button" 
                    class="px-4 py-2 text-gray-800 transition bg-gray-200 rounded-md hover:bg-gray-300 close-button">
                    Back
                </button>
                <button 
                    type="submit" 
                    class="px-6 py-2 text-white transition bg-blue-500 rounded-md hover:bg-blue-600">
                    Change
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Modal for Edit profile -->
<div id="edit-profile-modal" class="flex items-center justify-center modal-profile">
    <div class="w-full max-w-lg p-8 mx-8 bg-white rounded-lg shadow-lg modal-profile-content">
        <h2 class="mb-4 text-3xl font-bold text-center text-gray-800">Edit Profile</h2>
        
        <!-- Validation Message -->
         <p id="form-profile-message" class="px-4 py-2 mb-4 text-sm rounded-md "></p>
    
        <!-- Form -->
        <form id="edit-profile-form">
            <!-- Name -->
            <div class="relative inline-field">
                <label for="name" class="font-medium text-gray-700">Name</label>
                <input 
                    type="text"
                    id="name" 
                    placeholder="Enter your name"
                    class="w-full py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                
                
            </div>
            <p id="name-error" class="hidden text-sm text-red-500 err"></p>
            

            <!-- Gender -->
            <div class="relative mt-3 inline-field">
                <label for="gender" class="font-medium text-gray-700">Gender</label>
                <select id="gender"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                    <option value="" disabled selected>Select your gender</option>
                    <option value="Nữ">Nữ</option>
                    <option value="Nam">Nam</option>
                    <option value="Khác">Khác</option>
                </select>
                
            </div>
            <p id="gender-error" class="hidden text-sm text-red-500 err"></p>

            <!-- Phone -->
            <div class="relative mt-3 inline-field">
                <label for="phone" class="font-medium text-gray-700">Phone</label>
                <input 
                    type="tel" 
                    id="phone" 
                    placeholder="Enter your phone"
                    class="w-full py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                
            </div>
            <p id="phone-error" class="hidden text-sm text-red-500 err"></p>

           

            <div class="relative mt-3 inline-field">
                <label for="province" class="font-medium text-gray-700">Province</label>
                <select id="province"
                    class="w-full py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                    <option value="" disabled selected>Select Province</option>
                </select>
                
            </div>
            <p id="province-error" class="hidden text-sm text-red-500 err"></p>
            
            <div class="relative mt-3 inline-field">
                <label for="district" class="font-medium text-gray-700">District</label>
                <select id="district"
                    class="w-full py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                    <option value="" disabled selected>Select District</option>
                </select>
                
            </div>
            <p id="district-error" class="hidden text-sm text-red-500 err"></p>
            
            <div class="relative mt-3 inline-field">
                <label for="ward" class="font-medium text-gray-700">Ward</label>
                <select id="ward"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                    <option value="" disabled selected>Select Ward</option>
                </select>
                
            </div>
            <p id="ward-error" class="hidden text-sm text-red-500 err"></p>

            <div class="relative mt-3 inline-field">
                <label for="address" class="font-medium text-gray-700">Address</label>
                <input 
                    type="text"
                    id="address" 
                    placeholder="123 Nguyễn Huệ"
                    class="w-full py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
               
            </div>
             <p id="address-error" class="hidden text-sm text-red-500 err"></p>


             <!-- Birthday -->
            <div class="relative mt-3 inline-field">
                <label for="birthday" class="font-medium text-gray-700">Birthday</label>
                <input 
                    type="date" 
                    id="birthday" 
                    placeholder="Enter your birthday"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                
            </div>
            <p id="birthday-error" class="hidden text-sm text-red-500 err"></p>

            <!-- Buttons -->
            <div class="flex items-center justify-between mt-4">
                <button 
                    type="button" 
                    class="px-4 py-2 text-gray-800 transition bg-gray-200 rounded-md hover:bg-gray-300 close-profile-button">
                    Back
                </button>
                <button 
                    type="submit" 
                    class="px-6 py-2 text-white transition bg-blue-500 rounded-md hover:bg-blue-600">
                    Change
                </button>
            </div>
        </form>
    </div>
</div>

<script src="/js/profile.js"></script>