<div class="container-user">

    <div class="column-user column-user-4">
        <h1 id="profileh1">Profile</h1>
        <img src="{{userAvatar}}" id="avatar-preview">
        <h2>{{fullName}}</h2>
        <button id="update-avatar-btn">Update Avatar</button>
        <input type="file" id="avatar-input" accept="image/*" style="display: none;">
    </div>

    <div class="column-user column-user-8">
        <div class="user-info1">
            <p><strong>Name:</strong> {{profile.full_name}}</p>
            <p><strong>Phone:</strong> {{profile.phone}}</p>
            <p><strong>Address:</strong> {{profile.address}}</p>
            <p><strong>Birthday:</strong>{{formatBirthday profile.birthday}}</p>
            <p><strong>Gender:</strong>{{profile.gender}}</p>
        </div>
        <div class="mt-5">
            <button class="editProfile mr-5">Edit Profile</button>
            {{#if local}}
            <button class="changePassword">Change Password</button>
            {{/if}}
        </div>
    </div>
    <div class="column-user column-user-4">
        <h1 id="historyh1">History</h1>
        <div class="navbar">
            <ul class="nav-links">
                <li><a href="#" class="nav-item {{#if (eq activeTab 'orders')}}active{{/if}}" data-target="orders-container">Order</a></li>
                <li><a href="#" class="nav-item {{#if (eq activeTab 'products')}}active{{/if}}" data-target="products-container">Product</a></li>
            </ul>
        </div>
    </div>

    <div id="orders-container" class="content {{#if (eq activeTab 'orders')}}active{{/if}}">

        <table class="orders-table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Total Amount</th>
                    <th>Creation Time</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                {{#each paginatedOrders}}
                <tr>
                    <td>{{this.order_id}}</td>
                    <td>{{this.total_amount}}</td>
                    <td>{{formatDate this.creation_time}}</td>
                    {{#if (eq this.status "Completed")}}
                    <td><span class="status Completed">{{this.status}}</span></td>
                    {{/if}}
                    {{#if (eq this.status "Pending")}}
                    <td><span class="status Pending">{{this.status}}</span></td>
                    {{/if}}
                    {{#if (eq this.status "Cancelled")}}
                    <td><span class="status Cancelled">{{this.status}}</span></td>
                    {{/if}}
                    {{#if (eq this.status "Processing")}}
                    <td>
                        <button class="status Processing" onclick="toggleModal('{{this.order_id}}')">{{this.status}}</button>
                        <div id="change-status-modal-{{this.order_id}}" class="modal flex items-center justify-center"
                            style="display: none;">
                            <div class="modal-content bg-white rounded-lg shadow-lg p-8 w-full max-w-md mx-8">
                                <h2 class="text-center mb-6 font-bold text-3xl text-gray-800">Change Status Order #{{this.order_id}}</h2>
                                <p id="status-message" class="hidden px-4 py-2 rounded-md text-sm mb-6"></p>
                                <form id="change-status-form-{{this.order_id}}" onsubmit="submitStatusChange(event, '{{this.order_id}}')">
                                    <div class="flex flex-row justify-center items-center gap-5 double-input">
                                        <button type="button" class="status Completed"
                                            onclick="selectStatus('{{this.order_id}}', 'Completed')">Completed</button>
                                        <button type="button" class="status Cancelled"
                                            onclick="selectStatus('{{this.order_id}}', 'Cancelled')">Cancelled</button>
                                    </div>
                                    <div class="flex justify-between items-center mt-6">
                                        <button type="button"
                                            class="bg-gray-200 hover:bg-gray-300 text-gray-800 px-4 py-2 rounded-md transition close-button"
                                            onclick="toggleModal('{{this.order_id}}')">Back</button>
                                        <button type="submit"
                                            class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 rounded-md transition">Change</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                    {{/if}}
                    {{#if (eq this.status "Shipped")}}
                    <td><span class="status Shipped">{{this.status}}</span></td>
                    {{/if}}
                </tr>
                {{/each}}

            </tbody>
        </table>
        <div class="flex justify-center mt-10 mb-3">
            <nav>
                <ul class="inline-flex items-center -space-x-px">
                    {{#if hasPreviousOrderPage}}
                    <li>
                        <a href="?pageOrders={{previousOrderPage}}&activeTab=orders#historyh1"
                            class="px-3 py-2 ml-0 leading-tight text-black bg-white border border-gray-300 rounded-l-lg hover:bg-primary hover:text-gray-700">Previous</a>
                    </li>
                    {{/if}}
                    {{#each Orderpages}}
                    {{#if (shouldShowPage @index ../currentOrderPage ../totalOrderPages)}}
                    <li>
                        <a href="?pageOrders={{this}}&activeTab=orders#historyh1"
                            class="py-2 px-3 leading-tight text-black  border border-gray-300  hover:text-gray-700 {{#if (eq this ../currentOrderPage)}}bg-primary text-white{{/if}} ">{{this}}</a>
                    </li>
                    
                    {{else if (shouldShowEllipsis @index ../currentOrderPage ../totalOrderPages)}}
                    <li>
                        <span
                            class="px-3 py-2 leading-tight text-black bg-white border border-gray-300 ">...</span>
                    </li>
                    {{/if}}
                    {{/each}}
                    {{#if hasNextOrderPage}}
                    <li>
                        <a href="?pageOrders={{nextOrderPage}}&activeTab=orders#historyh1"
                            class="px-3 py-2 leading-tight text-black bg-white border border-gray-300 rounded-r-lg hover:bg-primary hover:text-gray-700">Next</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>

    <div id="products-container" class="content {{#if (eq activeTab 'products')}}active{{/if}}">

        <div class="grid grid-cols-2 gap-6 md:grid-cols-3">

            {{#each paginatedProducts}}
            <div class="product-card">
                <div class="product-img">
                    <a href="/product/productDetail?id={{this.Product.product_id}}"><img
                            src={{this.Product.Images.[0].directory_path}}></a>
                </div>
                <div class="product-info">
                    <a href="/product/productDetail?id=1">
                        <h4 class="product-name">{{this.Product.product_name}}</h4>
                    </a>
                    <div class="price">
                        <span class="price-current">{{this.Product.current_price}}</span>
                        <span class="price-old">{{this.Product.original_price}}</span>
                    </div>
                </div>

            </div>
            {{/each}}
        </div>

        <div class="flex justify-center mt-10 mb-3">
            <nav>
                <ul class="inline-flex items-center -space-x-px">
                    {{#if hasPreviousProductPage}}
                    <li>
                        <a href="?pageProducts={{previousProductPage}}&activeTab=products#historyh1"
                            class="px-3 py-2 ml-0 leading-tight text-black bg-white border border-gray-300 rounded-l-lg hover:bg-primary hover:text-gray-700">Previous</a>
                    </li>
                    {{/if}}
                    {{#each Productpages}}
                    {{#if (shouldShowPage @index ../currentProductPage ../totalProductPages)}}
                    <li>
                        <a href="?pageProducts={{this}}&activeTab=products#historyh1"
                            class="py-2 px-3 leading-tight text-black  border border-gray-300  hover:text-gray-700 {{#if (eq this ../currentProductPage)}}bg-primary text-white{{/if}} ">{{this}}</a>
                    </li>
                    
                    {{else if (shouldShowEllipsis @index ../currentProductPage ../totalProductPages)}}
                    <li>
                        <span
                            class="px-3 py-2 leading-tight text-black bg-white border border-gray-300 ">...</span>
                    </li>
                    {{/if}}
                    {{/each}}
                    {{#if hasNextProductPage}}
                    <li>
                        <a href="?pageProducts={{nextProductPage}}&activeTab=products#historyh1"
                            class="px-3 py-2 leading-tight text-black bg-white border border-gray-300 rounded-r-lg hover:bg-primary hover:text-gray-700">Next</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>

    </div>

</div>
<!-- Modal for Change Password -->
<div id="change-password-modal" class="modal flex items-center justify-center">
    <div class="modal-content bg-white rounded-lg shadow-lg p-8 w-full max-w-md mx-8">
        <h2 class="text-center mb-6 font-bold text-3xl text-gray-800">Change Password</h2>
        
        <!-- Validation Message -->
         <p id="form-message" class="hidden px-4 py-2 rounded-md text-sm mb-6"></p>
    
        <!-- Form -->
        <form id="change-password-form">
            <!-- Old Password -->
            <div class="mb-6 relative">
                <label for="old-password" class="font-medium text-gray-700 mb-2 block">Old Password</label>
                <input 
                    type="password" 
                    id="old-password" 
                    placeholder="Enter old password"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                <button type="button" class="absolute right-2 text-gray-500 hover:text-gray-700 show-password-btn" data-target="old-password">
                    👁
                </button>
                 <p id="old-password-error" class="text-red-500 text-sm mt-1 hidden"></p>
            </div>

            <!-- New Password -->
            <div class="mb-6 relative">
                <label for="new-password" class="font-medium text-gray-700 mb-2 block">New Password</label>
                <input 
                    type="password" 
                    id="new-password" 
                    placeholder="Enter new password"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                <button type="button" class="absolute right-2 text-gray-500 hover:text-gray-700 show-password-btn" data-target="new-password">
                    👁
                </button>
                 <p id="new-password-error" class="text-red-500 text-sm mt-1 hidden"></p>
            </div>

            <!-- Confirm New Password -->
            <div class="mb-6 relative">
                <label for="confirm-password" class="font-medium text-gray-700 mb-2 block">Confirm New Password</label>
                <input 
                    type="password" 
                    id="confirm-password" 
                    placeholder="Confirm new password"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                <button type="button" class="absolute right-2 text-gray-500 hover:text-gray-700 show-password-btn" data-target="confirm-password">
                    👁
                </button>
                <p id="confirm-password-error" class="text-red-500 text-sm mt-1 hidden"></p>
            </div>

            <!-- Buttons -->
            <div class="flex justify-between items-center mt-6">
                <button 
                    type="button" 
                    class="bg-gray-200 hover:bg-gray-300 text-gray-800 px-4 py-2 rounded-md transition close-button">
                    Back
                </button>
                <button 
                    type="submit" 
                    class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 rounded-md transition">
                    Change
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Modal for Edit profile -->
<div id="edit-profile-modal" class="modal-profile flex items-center justify-center">
    <div class="modal-profile-content bg-white rounded-lg shadow-lg p-8 w-full max-w-lg mx-8">
        <h2 class="text-center mb-4 font-bold text-3xl text-gray-800">Edit Profile</h2>
        
        <!-- Validation Message -->
         <p id="form-profile-message" class=" px-4 py-2 rounded-md text-sm mb-4"></p>
    
        <!-- Form -->
        <form id="edit-profile-form">
            <!-- Name -->
            <div class=" relative inline-field">
                <label for="name" class="font-medium text-gray-700">Name</label>
                <input 
                    type="text"
                    id="name" 
                    placeholder="Enter your name"
                    class="w-full  py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                
                
            </div>
            <p id="name-error" class="text-red-500 text-sm hidden err"></p>
            

            <!-- Gender -->
            <div class="relative inline-field mt-3">
                <label for="gender" class="font-medium text-gray-700">Gender</label>
                <select id="gender"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                    <option value="" disabled selected>Select your gender</option>
                    <option value="Nữ">Nữ</option>
                    <option value="Nam">Nam</option>
                    <option value="Khác">Khác</option>
                </select>
                
            </div>
            <p id="gender-error" class="text-red-500 text-sm hidden err"></p>

            <!-- Phone -->
            <div class="relative inline-field mt-3">
                <label for="phone" class="font-medium text-gray-700">Phone</label>
                <input 
                    type="tel" 
                    id="phone" 
                    placeholder="Enter your phone"
                    class="w-full py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                
            </div>
            <p id="phone-error" class="text-red-500 text-sm hidden err"></p>

           

            <div class="relative inline-field mt-3">
                <label for="province" class="font-medium text-gray-700">Province</label>
                <select id="province"
                    class="w-full py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                    <option value="" disabled selected>Select Province</option>
                </select>
                
            </div>
            <p id="province-error" class="text-red-500 text-sm hidden err"></p>
            
            <div class="relative inline-field mt-3">
                <label for="district" class="font-medium text-gray-700">District</label>
                <select id="district"
                    class="w-full py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                    <option value="" disabled selected>Select District</option>
                </select>
                
            </div>
            <p id="district-error" class="text-red-500 text-sm hidden err"></p>
            
            <div class="relative inline-field mt-3">
                <label for="ward" class="font-medium text-gray-700">Ward</label>
                <select id="ward"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                    <option value="" disabled selected>Select Ward</option>
                </select>
                
            </div>
            <p id="ward-error" class="text-red-500 text-sm hidden err"></p>

            <div class="relative inline-field mt-3">
                <label for="address" class="font-medium text-gray-700">Address</label>
                <input 
                    type="text"
                    id="address" 
                    placeholder="123 Nguyễn Huệ"
                    class="w-full  py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
               
            </div>
             <p id="address-error" class="text-red-500 text-sm hidden err"></p>


             <!-- Birthday -->
            <div class="relative inline-field mt-3">
                <label for="birthday" class="font-medium text-gray-700">Birthday</label>
                <input 
                    type="date" 
                    id="birthday" 
                    placeholder="Enter your birthday"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
                    required>
                
            </div>
            <p id="birthday-error" class="text-red-500 text-sm hidden err"></p>

            <!-- Buttons -->
            <div class="flex justify-between items-center mt-4">
                <button 
                    type="button" 
                    class="bg-gray-200 hover:bg-gray-300 text-gray-800 px-4 py-2 rounded-md transition close-profile-button">
                    Back
                </button>
                <button 
                    type="submit" 
                    class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 rounded-md transition">
                    Change
                </button>
            </div>
        </form>
    </div>
</div>

<script src="/js/profile.js"></script>