<main class="cate__manu container">
    <div class="header">
        <h1 class="heading">Manufactories And Categories List</h1>
    </div>
    <nav>
        <ul class="menu">
            <li id="cate__nav" class="menu__nav menu__active">Caterogies</li>
            <li id="manu__nav" class="menu__nav">Manufactories</li>
            <div class="decor__nav"></div>
        </ul>
    </nav>
    <div class="cate__manu__content">
        <div class="cate__content">
            <div class="cate__manu-heading">
                <div class="search-container">
                    <input
                        type="text"
                        class="search-input search__cate"
                        placeholder="Search by name categories"
                    />
                    <button
                        class="search-button search__cate-btn"
                    >Search</button>
                </div>
                <button
                    class="add__new add__new-cate"
                    style="white-space: pre;"
                >+ Add new</button>
            </div>
            <div class="row row-cols-1 row-cols-xl-3 row-cols-md-2 gy-3">
                {{#each categories}}
                    <div class="col">
                        <div id="{{category_id}}" class="cate__item">
                            <img
                                src="{{img}}"
                                alt="Category img"
                                class="cate__item-image"
                            />
                            <h2 class="cate__item-title">{{category_name}}</h2>
                            <div class="cate__item-info">
                                <p>The nums products: </p>
                                <p class="cate__item-description">{{count}}</p>
                            </div>
                        </div>
                    </div>
                {{/each}}

            </div>

        </div>
        <div class="manu__content">
            <div class="cate__manu-heading">
                <div class="search-container">
                    <input
                        type="text"
                        class="search-input search__manu"
                        placeholder="Search by name manufactories"
                    />
                    <button
                        class="search-button search__manu-btn"
                    >Search</button>
                </div>
                <button
                    class="add__new add__new-manu"
                    style="white-space: pre;"
                >+ Add new</button>
            </div>
            <div class="row row-cols-1 row-cols-xl-3 row-cols-md-2 gy-3">
                {{#each manufacturers}}
                    <div class="col">
                        <div id="{{supplier_id}}" class="manu__item">
                            <img
                                src="{{img}}"
                                alt="Manufacturer 1"
                                class="manu__item-image"
                            />
                            <h2 class="manu__item-title">{{brand}}</h2>
                            <div class="manu__item-info">
                                <p>The nums products: </p>
                                <p class="manu__item-description">{{count}}</p>
                            </div>

                        </div>
                    </div>
                {{/each}}
            </div>

        </div>

    </div>
</main>
<div class="shadow">
</div>
<div class="dialog">
    <button class="dialog-close" id="closeDialogBtn">&times;</button>
    <div class="dialog-header">Add New Category</div>
    <form class="form">
        <input
            id="input"
            type="text"
            name="name"
            placeholder="Enter category name"
            required
        />
        <p class="dialog_status"></p>
        <div class="dialog-buttons">
            <button class="cancel-btn" id="cancelBtn">Cancel</button>
            <button class="save-btn">Save</button>
        </div>
    </form>
</div>

<script src="/js/view_cate_manu.js"></script>