<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shop Page</title>

        <link
            rel="shortcut icon"
            href="/images/favicon/favicon.ico"
            type="image/x-icon"
        />

    <script src="https://kit.fontawesome.com/1cbed95cdb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/userprofile.css">
    <link rel="stylesheet" href="/css/notification.css">
    <link rel="stylesheet" href="/css/paymentPopup.css">
    <link rel="stylesheet" href="/css/menu__sm.css">

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/grid_system.css" />
        <link rel="stylesheet" href="{{page_style}}" />
    </head>

    <body>
        {{!-- {{#if notAJAX}} --}}
        <!-- header -->
        <header class="py-4 bg-white shadow-sm">
            <div class="container flex items-center justify-between">
                <!--logo-->
                <div class="menu__sm hidden">
                    <img class="menu__img menu__img-outner" src="/images/icons/menu-bar_7990377.png" alt="">
                    <div class="overlay__main"></div>
                    <div class="menu__nav">
                        <img class="menu__img menu__img-inner" src="/images/icons/menu-bar_7990377.png" alt="">
                        <div class="menu__inner">
                            <div class="menu__main flex">
                                <a href="/" class="menu__item menu__home">Home</a>
                                <a href="/product" class="menu__item menu__shop">Shop</a>
                                {{#if ADMIN}}
                                <a href="/admin/main" class="menu__item menu__admin">Admin</a>
                                {{/if}}
                                {{#if isAuthen}}
                                <a href="/auth/logout" class="menu__item menu__logout">Logout</a>
                                {{else}}
                                <a href="/user/login" class="menu__item menu__login">Login</a>
                                {{/if}}
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <a href="/">
                    <img src="/images/logo.svg" alt="Logo" class="w-32" />
                </a>
                <!--searchbar-->
                
    
        <div class="flex items-center space-x-4">
            <a href="/cart" id="cart-link" class="relative text-center text-gray-700 transition hover:text-primary">
                <div class="text-2xl">
                    <i class="fa-solid fa-bag-shopping"></i>
                </div>
                <div class="text-xs leading-3">Cart</div>
                <div id="cart-count" 
                    class="absolute flex items-center justify-center hidden w-5 h-5 text-xs text-white rounded-full -right-3 -top-1 bg-primary">
                    0
                </div>
            </a>
          <a {{#unless isAuthen}} href="/user/login" {{/unless}}class="relative text-center text-gray-700 transition hover:text-primary flex justify-center items-center flex-col" >
            <div class="text-2xl">
            {{#if isAuthen}}
               <img src="{{userAvatar}}" alt="This is userAvatar" class="w-8 h-8 rounded-full" onclick="toggleMenu()">
            {{else}}
              <i class="fa-regular fa-user"></i>
            {{/if}}
            </div>
            {{#if isAuthen}}
            <div class="text-xs leading-3">{{userName}}</div>
            {{else}}
            <div class="text-xs leading-3">Account</div>
            {{/if}}
          </a>
          <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="{{userAvatar}}">
                    <h3>{{fullName}}</h3>
                </div>
                <hr>

                <a href="/userprofile#profileh1" class="sub-menu-link">
                    <img src="/images/dropdownprofile/profile.png">
                    <p>Profile</p>
                    <span>></span>
                </a>
                {{!-- <a href="#" class="sub-menu-link">
                    <img src="/images/dropdownprofile/setting.png">
                    <p>Change Password</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <i class="pl-3 mr-6 fa-solid fa-cart-shopping"></i>
                </a> --}}
                <a href="/userprofile#historyh1" class="sub-menu-link">
                    <i class="pl-3 mr-6 fa-solid fa-cart-shopping"></i>
                    <p>History</p>
                    <span>></span>
                </a>
                
                <a href="/auth/logout" class="sub-menu-link">
                    <img src="/images/dropdownprofile/logout.png">
                    <p>Logout</p>
                    <span>></span>
                </a>

            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- ./header -->

        <!-- navbar -->
        <nav class="bg-gray-800">
            <div class="container flex">
                <div
                    class="relative items-center hidden px-8 py-4 cursor-pointer bg-primary md:flex group"
                >
                    <span class="text-white">
                        <i class="fa-solid fa-bars"></i>
                    </span>
                    <span class="hidden ml-2 text-white capitalize">All
                        Categories</span>

                    
                </div>

            <div class="menu__outner flex items-center justify-between flex-grow py-5 md:pl-12">
                <div class="flex items-center space-x-6 capitalize">
                    <a href="/" class="text-gray-200 transition hover:text-white">Home</a>
                    <a href="/product" class="text-gray-200 transition hover:text-white">Shop</a>
                    {{#if ADMIN}}
                    <a href="/admin/main" class="text-gray-200 transition hover:text-white">Admin</a>
                    {{/if}}
                </div>
                {{#if isAuthen}}
                <a href="/auth/logout" class="text-gray-200 transition hover:text-white">Logout</a>
                {{else}}
                <a href="/user/login" class="text-gray-200 transition hover:text-white">Login</a>
                {{/if}}
            </div>
        </div>
    </nav>
    <!-- ./navbar -->
    {{!-- {{/if}} --}}
    {{{body}}}
    {{!-- {{#if notAJAX}} --}}
    <!-- footer -->
    <footer class="pt-16 pb-12 bg-white border-t border-gray-100 mt-14">
        <div class="container grid grid-cols-1 ">
            <div class="col-span-1 space-y-4">
                <img src="/images/logo.svg" alt="logo" class="w-30">
                <div class="mr-2">
                    <p class="text-gray-500">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, hic?
                    </p>
                </div>
                <div class="flex space-x-5">
                    <a href="#" class="text-gray-400 hover:text-gray-500"><i
                            class="fa-brands fa-facebook-square"></i></a>
                    <a href="#" class="text-gray-400 hover:text-gray-500"><i
                            class="fa-brands fa-instagram-square"></i></a>
                    <a href="#" class="text-gray-400 hover:text-gray-500"><i
                            class="fa-brands fa-twitter-square"></i></a>
                    <a href="#" class="text-gray-400 hover:text-gray-500">
                        <i class="fa-brands fa-github-square"></i>
                    </a>
                </div>
            </div>

                <div class="row row__footer row-cols-2 gy-3 row-cols-md-4">
                    
                        <div>
                            <h3
                                class="text-sm font-semibold tracking-wider text-gray-400 uppercase"
                            >Solutions</h3>
                            <div class="mt-4 space-y-4">
                                <a
                                    href="#"
                                    class="block text-base text-gray-500 hover:text-gray-900"
                                >Marketing</a>
                                <a
                                    href="#"
                                    class="block text-base text-gray-500 hover:text-gray-900"
                                >Analitycs</a>
                                <a
                                    href="#"
                                    class="block text-base text-gray-500 hover:text-gray-900"
                                >Commerce</a>
                                <a
                                    href="#"
                                    class="block text-base text-gray-500 hover:text-gray-900"
                                >Insights</a>
                            </div>
                        </div>

                        <div>
                            <h3
                                class="text-sm font-semibold tracking-wider text-gray-400 uppercase"
                            >Support</h3>
                            <div class="mt-4 space-y-4">
                                <a
                                    href="#"
                                    class="block text-base text-gray-500 hover:text-gray-900"
                                >Pricing</a>
                                <!-- <a href="#" class="block text-base text-gray-500 hover:text-gray-900">Documentation</a> -->
                                <a
                                    href="#"
                                    class="block text-base text-gray-500 hover:text-gray-900"
                                >Guides</a>
                                <a
                                    href="#"
                                    class="block text-base text-gray-500 hover:text-gray-900"
                                >API Status</a>
                            </div>
                        </div>
                    
                    
                        <div>
                            <h3
                                class="text-sm font-semibold tracking-wider text-gray-400 uppercase"
                            >Solutions</h3>
                            <div class="mt-4 space-y-4">
                                <a
                                    href="#"
                                    class="block text-base text-gray-500 hover:text-gray-900"
                                >Marketing</a>
                                <a
                                    href="#"
                                    class="block text-base text-gray-500 hover:text-gray-900"
                                >Analitycs</a>
                                <a
                                    href="#"
                                    class="block text-base text-gray-500 hover:text-gray-900"
                                >Commerce</a>
                                <a
                                    href="#"
                                    class="block text-base text-gray-500 hover:text-gray-900"
                                >Insights</a>
                            </div>
                        </div>

                        <div>
                            <h3
                                class="text-sm font-semibold tracking-wider text-gray-400 uppercase"
                            >Support</h3>
                            <div class="mt-4 space-y-4">
                                <a
                                    href="#"
                                    class="block text-base text-gray-500 hover:text-gray-900"
                                >Pricing</a>
                                <!-- <a href="#" class="block text-base text-gray-500 hover:text-gray-900">Documentation</a> -->
                                <a
                                    href="#"
                                    class="block text-base text-gray-500 hover:text-gray-900"
                                >Guides</a>
                                <a
                                    href="#"
                                    class="block text-base text-gray-500 hover:text-gray-900"
                                >API Status</a>
                            </div>
                        </div>
                    
                </div>
            </div>
        </footer>
        <!-- ./footer -->

    <!-- copyright -->
    <div class="py-4 bg-gray-800">
        <div class="container flex items-center justify-between">
            <p class="text-white">&copy; TailCommerce - All Right Reserved</p>
            <div>
                <img src="/images/methods.png" alt="methods" class="h-5">
            </div>
        </div>
    </div>
    <!-- ./copyright -->
    {{!-- {{/if}} --}}

    {{#if notification}}
        <div id="notification-overlay" class="fixed inset-0 z-50 pointer-events-none">
            <!-- Khung thông báo -->
            <div id="notification" class="relative z-50 p-6 mx-auto mt-20 text-center bg-white rounded shadow-lg pointer-events-auto">
                <p class="text-lg font-semibold">{{notification.message}}</p>
                <button id="notification-ok" class="px-4 py-2 mt-4 text-white bg-blue-500 rounded hover:bg-blue-700">
                    OK
                </button>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const overlay = document.getElementById('notification-overlay');
                const okButton = document.getElementById('notification-ok');

                const hideNotification = () => {
                    overlay.remove(); // Xóa toàn bộ thông báo
                };

                // Đóng thông báo khi bấm "OK"
                okButton.addEventListener('click', hideNotification);

                // Tự động đóng sau 5 giây
                setTimeout(hideNotification, 5000);
            });
        </script>
    {{/if}}




    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script>
        let subMenu = document.getElementById("subMenu");

        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
    </script>
    <script src="/js/menu__sm.js"></script>
</body>
</html>